# Dependencies
node_modules
.pnpm-debug.log*

# Build
dist
*.tsbuildinfo
**/.sizecheck
**/.sizecheck-bundled

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
coverage
.vitest-result
